<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="assets/stylesheets/index.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <td id="content">
    <h1 id="subheader">About Us</h1>
    <p id="welcomeparagraph">This website is being created by UNC Charlotte,
    student Cameron King, who is creating this for ITIS 4166 - Network Based
    Application Development. I am a very big music fan who is also studying
    software engineering. This website is the first project that I have
    incorporated music so it is a joy to work towards. To save or rate
    music, click on the "Categories" tab on the sidebar. Pick from any
    genre and it will take you to the item's page. To view your saved music,
    click on "My Music" at the top of the page. Check the home page
    for more details on this site!</p>
  </td>
  <% include partials/footer.ejs %>
</body>

</html>
