<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="assets/stylesheets/index.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <td id="content">
    <h1 id="subheader">Contact Us</h1>
    <p id="welcomeparagraph">Email: cking107@uncc.edu</p>
    <p id="welcomeparagraph">Phone: (336) 314-7124</p>
  </td>
  <% include partials/footer.ejs %>
</body>

</html>
