<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="assets/stylesheets/index.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <td id="content">
    <h1 id="subheader">Welcome to your music collection!</h1>
    <p id="welcomeparagraph">This is your place to keep up with all of your
      favorite music by being able to save and rate albums, EPs, singles, or
      compilations. You also have the option of seeing other users ratings
      and see how well music is being rated by the community. You can
      also click the "Store" link and you can find information on where
      to buy music or find the price. Happy listening!</p>
  </td>
  <% include partials/footer.ejs %>
</body>

</html>
