<table id="main">
  <tr>
    <td id="sidebar" class="borderlines">
      <a href="/" class="sidelinks">Home</a><br><br>
      <a href="/categories" class="sidelinks">Categories</a><br><br>
      <a href="/about" class="sidelinks">About</a><br><br>
      <a href="/contact" class="sidelinks">Contact Us</a>
    </td>
